@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

a, .pure-menu-link, .pure-menu-heading {
    color: #ce6849;
    text-decoration: none;
}
a:hover {
    color: #ab4526;
    text-decoration: underline;
}
body {background-color: #37393a;}
pre {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: inherit;
    color: inherit;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-shadow: 0 -.1em .2em #000;
    overflow: hidden;
}
code {padding: 2px 0 4px 5px;}
pre::selection, pre ::selection {text-shadow: none;}
pre::-moz-selection, pre ::-moz-selection {text-shadow: none;}
.app-header nav {
    border-bottom: 1px solid #000;
    background-color: #282a2b;
    height: 50px;
    font-size: 12pt;
    padding-top: 0.5em;
    text-shadow: 0 -.1em .2em #000;
}
.app-header nav .pure-form {margin-left: 3em;}
.app-header nav .pure-form input[type="text"] {padding: 0.3em 0.3em;}
.app-header nav .pure-menu-link {padding-top: 0;}
.app-header nav .pure-menu-link:focus,
.app-header nav .pure-menu-link:hover {
    background-color: transparent;
    text-decoration: none;
}

.button-primary {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #4383c1;
    margin-right: 10px;
}

.button-error {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #ab4526;
}

footer {
    margin-top: 20px;
    font-size: 8pt;
    color: #eee;
    text-align: right;
}
.fa-flask {color: #54b0ff;}
.app-header nav .logo {
    font-size: 16pt;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
    .app-header nav .logo .fa-flask {font-size: 18pt;}
.logo:hover, .logo:focus {text-decoration: none;}
    .logo:hover .fa-flask, .logo:focus .fa-flask {color: #4383c1;}

.main {padding-top: 50px;}
.hero {
    padding: 5% 20%;
    background-color: rgba(40, 42, 43, 0.8);
    margin-top: 20px;
    color: #eee;
    border-radius: .5em;
    text-align: center;
}
    .hero h1 {font-size: 32pt;}
        /*.hero h1 .fa {margin-bottom: 5%;}*/
    .hero form {color: #000;}
.container {
    width: 1140px;
    margin: auto;
}
.code-file-container {
    border-radius: 0.5em;
    margin-top: 20px;
    max-width: 1140px;
    overflow: scroll;
}

.code-file {width: 100%;}
    .code-file .spacer {height: 5px;}
    .code-file .line {min-height: 10px;}
        .code-file .line .line-content {
            overflow: hidden;
            cursor: pointer;
        }

.line-num {
    padding: 3px 7px 0;
    text-align: right;
    max-width: 35px;
    overflow: hidden;
    cursor: default;
    font-size: 10pt;
}
.pull-left {float: left;}
.pull-right {float: right;}
.line-comments {padding: 5px 0;}
.line-comments :first-child {margin-top: 0;}
.line-comment {
    margin-top: 5px;
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
    cursor: auto;
}
    .line-comment .avatar {
        width: 48px;
        height: 48px;
    }
        .line-comment .avatar img {
            width: 100%;
            height: 100%;
            border-radius: .25em;
        }

    .line-comment .content {
        margin-left: 5px;
        border-radius: .25em;
        overflow: hidden;
        max-width: 800px;
    }

    .line-comment .content .comment-header {
        padding: 10px;
        overflow: hidden;
        background-color: #282a2b;
    }

    .line-comment .content .comment-body {
        color: #eee;
        padding: 20px 10px;
        margin: 0;
        background-color: #37393a;
    }
        .line-comment .content .comment-body textarea {
            color: #000;
            width: 770px;
            height: 175px;
            display: block;
            margin-bottom: 10px;
            padding: 2px;
        }

/* Special React Modal Styles */
.react-modal-overlay {
    z-index: 100;
    background-color: rgba(55, 57, 58, 0.75) !important;
}

.react-modal-content {
    background-color: #282a2b !important;
    width: 300px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px !important;
    color: #eee;
    border: 5px solid #000 !important;
    border-radius: 0.5em !important;
}
    .react-modal-content input {
        margin-bottom: 10px !important;
        color: #000;
    }