$comment-width: 600;
$comment-padding: 10;
$comment-background: #37393a;
$code-background: #282a2b;

.code-file-container {
    border-radius: 0.5em;
    margin-bottom: 20px;
    max-width: 1140px;
    overflow-x: auto;
}

.code-file {
    width: 100%;

    .spacer {height: 5px;}
    .line {
        min-height: 10px;

        .line-content {
            overflow: hidden;
            cursor: pointer;
            width: 100%;
        }
    }
}

.line-marker {
    padding: 3px 7px 0;
    text-align: right;
    max-width: 35px;
    overflow: hidden;
    cursor: default;
    font-size: 10pt;
}

.line-comments {
    .line-content {
        padding: 3px 6px;

        .avatar {
            width: 48px;
            height: 48px;
            margin-right: 6px;

            img {
                width: 100%;
                height: 100%;
                border-radius: .25em;
            }
        }
    }

    .collapsed-comments {
        .avatar {
            width: 20px;
            height: 20px;
            margin-right: 3px;
        }
    }

    .line-comment {
        padding: 3px 0;
        width: 100%;
        overflow: hidden;
        cursor: auto;

        .content {
            border-radius: .25em;
            overflow: hidden;
            max-width: $comment-width + unquote("px");

            .comment-header {
                padding: $comment-padding + unquote("px");
                overflow: hidden;
                background-color: $code-background;
                min-width: 250px;

                .edit {margin-right: 5px;}
            }

            .comment-body {
                color: #eee;
                padding: 1px $comment-padding+unquote("px") $comment-padding+unquote("px") $comment-padding+unquote("px");
                margin: 0;
                background-color: $comment-background;

                pre {
                    background-color: $code-background;
                    padding: 5px;
                    overflow: auto;
                }

                p, pre {
                    margin: 10px 0 0 0;
                }
            }

            form.comment-body {
                padding-top: $comment-padding + unquote("px");

                textarea {
                    color: #000;
                    width: ($comment-width - 6 - (2 * $comment-padding)) + unquote("px");
                    height: 175px;
                    display: block;
                    margin-bottom: $comment-padding + unquote("px");
                    padding: 2px;
                }
            }
        }
    }
}

