.hero {
    padding: 5% 20%;
    background-color: rgba(40, 42, 43, 0.8);
    margin-top: 20px;
    color: #eee;
    border-radius: .5em;
    text-align: center;

    h1 {
        font-size: 32pt;
        /*.fa {margin-bottom: 5%;}*/
    }
    form {color: #000;}
}
