/* Special React Modal Styles */
.react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(55, 57, 58, 0.75) !important;
}
.react-modal-content {
    position: relative;
    background-color: #282a2b !important;
    width: 300px;
    margin-right: -50%;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    color: #eee;
    padding: 20px;
    border: 5px solid #000 !important;
    border-radius: 0.5em !important;
    overflow: hidden !important;
    transform: translate(-50%, -50%);
    outline: none;

    input {
        margin-bottom: 10px !important;
        color: #000;
    }
    h2 {margin-top: 0;}
    fieldset {
        padding-top: 0;
        &.buttons {padding-bottom: 0;}
    }
}
